@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

li {
  list-style-type: none;
  margin: 16px 0;
}

ul {
  display: flex;
  flex-direction: column;
}

i:hover {
  cursor: pointer;
}

body {
  font-family: 'Roboto', sans-serif;
  /* overflow-x removes the scroll bar on the bottom of webpage */
  background-color: #333;
  color: #222;
  overflow-x: hidden;
  margin: 0;
}

.container {
  background-color: #fafafa;
  /* This will change the origin of the rotation to the top left iinstead of the middle */
  transform-origin: top left;
  transition: transform 300ms linear;
  width: 100vw;
  min-height: 100vh;
  padding: 50px;
}

/* This will make it rotate when it is active through JavaScript */
.container.show-nav {
  transform: rotate(-20deg);
}

.container.show-nav .circle {
  transform: rotate(-70deg);
}

/* Creating the circle */

.circle-container {
  position: fixed;
  top: -100px;
  left: -100px;
}

.circle {
  background-color: #ff7979;
  height: 200px;
  width: 200px;
  border-radius: 50%;
  position: relative;
  transition: transform 300ms linear;
}

.circle button {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 100px;
  background: transparent;
  border: 0;
  font-size: 24px;
  color: #fff;
}

.circle button:focus {
  outline: none;
}

.circle button#open {
  left: 60%;
}

/* This is to position it away from the page but then appear when the navbar is rotated */
.circle button#close {
  top: 60%;
  transform: rotate(90deg);
  transform-origin: top left;
}

/* Need to add this in order for the times to show when show-nav is active */
.container.show-nav + nav li {
  transform: translateX(0);
  transition-delay: 200ms;
}

nav {
  position: fixed;
  bottom: 40px;
  left: 0%;
  z-index: 100;
}

nav ul li {
  color: #fff;
  text-transform: uppercase;
  transform: translateX(-100%);
  transition: transform 300ms ease-in;
}

/* this will create spaces between the 'li' the the other 'li' */
nav ul li + li {
  margin-left: 15px;
  transform: translateX(-150%);
}

nav ul li + li + li {
  margin-left: 30px;
  transform: translateX(-200%);
}


.content img {
  width: 100%;
}

.content {
  max-width: 1000px;
  margin: 50px auto;
}

.content h1 {
  margin: 0;
}

.content small {
  color: #333;
  line-height: 1.5;
}